/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

:root {
    --window-height: 768px;    
    --window-width: 1366px;
    --message-left: calc(37% + 100px);
}

body {
    filter: hue-rotate(-365deg) brightness(1.1);
}

body, html {
    margin: 0px;    
    width: 100%;
    padding: 0px;    
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'zcool';
    src: url('./assets/zcool.ttf');
}