<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate" viewBox="0 0 3872.125984 2177.007874">
        <g app-tablet 
            [initialdata]="tablet1data"
            [currentrotation]="tablet1rotation">
        </g>
        
        <g app-tablet 
            [initialdata]="tablet1data"
            [currentrotation]="tablet2rotation">
        </g>

        <g app-tablet 
            [initialdata]="tablet1data"
            [currentrotation]="tablet3rotation">
        </g>

        <g app-tablet 
            [initialdata]="tablet1data"
            [currentrotation]="tablet4rotation">
        </g>
    </svg>