<svg>
    <g class="content-page">
        <g class="scroll-box">
            <g class="scroll-item">
                <a href="assets/ttsmod.jpg">
                    <image href="assets/ttsmod.jpg" 
                        class="small-image"
                        x="0" dy="1.2em" y="1050" />
                </a>

                <text class="content-text" y="1050">
                    <tspan x="320" dy="1.2em">Text To Speech</tspan>
                    <tspan x="320" dy="1.2em">Mod</tspan>

                    <a dy="1.2em" href="https://steamcommunity.com/sharedfiles/filedetails/?id=641860452&searchtext=text+to+speech+mod">
                        <tspan class="link" x="650">Link</tspan>
                    </a>
                    <tspan _ngcontent-akd-c6="" dy="1.2em" x="320">It sounds horrible lol.</tspan>        
                    <tspan _ngcontent-akd-c6="" dy="1.2em" x="320">Algorithm written in</tspan>        
                    <tspan _ngcontent-akd-c6="" dy="1.2em" x="0">C Sharp.</tspan>
                </text>
            </g>
        </g>
    </g>

    <g app-scrollview class="scroll-view" (scrollbuttonmoved)="onscroll($event)"></g>
</svg>