<svg>
    <foreignObject class="content-page" #content>
        <xhtml:div class="scroll-box">
            <div class="scroll-item">
                <a href="assets/ttsmod.jpg"
                    target="_blank"
                    rel="noreferrer noopener">

                    <img src="assets/ttsmod.jpg" 
                        class="small-image scroll-image" />
                </a>  
                
                <p class="content-text">
                    Text To Speech Mod
                </p>

                <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=641860452&searchtext=text+to+speech+mod"
                    class="link scroll-link"
                    target="_blank"
                    rel="noreferrer noopener">
                    <span class="link">Link</span>
                </a>

                <p class="content-text">
                    It sounds like the CEO of space engineers (sort of). Written in C Sharp;
                </p>
            </div>

            <div class="scroll-item">
                    <a href="assets/wav2byte.png"
                        target="_blank"
                        rel="noreferrer noopener">
    
                        <img src="assets/wav2byte.png" 
                            class="small-image scroll-image" />
                    </a>  
                    
                    <p class="content-text">
                        Wav 2 Byte Array
                    </p>
    
                    <a href="https://github.com/DoubleCouponDay/WavToByteArray"
                        class="link scroll-link"
                        target="_blank"
                        rel="noreferrer noopener">
                        <span class="link">Link</span>
                    </a>
    
                    <p class="content-text">
                        Desktop program that converts a .wav file to an array of bytes. 
                        Written using WPF, C Sharp.
                    </p>
                </div>
        </div>
    </foreignObject>

    <!-- <g class="content-page" #content>
        <g class="scroll-box">
            <g class="scroll-item">
                <a href="assets/ttsmod.jpg">
                    <image href="assets/ttsmod.jpg" 
                        class="small-image"
                        x="0" dy="1.2em" y="0" />
                </a>

                <text class="content-text" y="0">
                    <tspan x="320" dy="1.2em">Text To Speech</tspan>
                    <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=641860452&searchtext=text+to+speech+mod">
                        <tspan class="link" x="650">Link</tspan>
                    </a>
                    <tspan x="320" dy="1.2em">Mod</tspan>
                    <tspan _ngcontent-akd-c6="" dy="1.2em" x="320">It sounds horrible!</tspan>        
                    <tspan _ngcontent-akd-c6="" dy="1.2em" x="320">Algorithm written in</tspan>        
                    <tspan _ngcontent-akd-c6="" dy="1.2em" x="0">C Sharp.</tspan>
                </text>
            </g>

            <g class="scroll-item">
                <a href="assets/wav2byte.png">
                    <image href="assets/wav2byte.png" 
                        class="small-image" style="height: 200px;"
                        x="0" dy="1.2em" y="300" />
                </a>

                <text class="content-text" y="300">
                    <tspan x="320" dy="1.2em">Wav 2 Byte[]</tspan>
                    <a href="https://github.com/DoubleCouponDay/WavToByteArray">
                        <tspan class="link" x="650">Link</tspan>
                    </a>
                    <tspan _ngcontent-akd-c6="" dy="1.2em" x="320">Desktop program </tspan>        
                    <tspan _ngcontent-akd-c6="" dy="1.2em" x="320">Converts a .wav file </tspan>        
                    <tspan _ngcontent-akd-c6="" dy="1.2em" x="320">to an array of bytes. </tspan>        
                    <tspan _ngcontent-akd-c6="" dy="1.2em" x="0">Written using WPF, C Sharp.</tspan>                    
                </text>
            </g>
        </g>
    </g> -->

    <g app-scrollview class="scroll-view" (scrollbuttonmoved)="onscroll($event)"></g>
</svg>