.flag-container {
    width:900px;
    height: 400px;
    position: absolute;
}

.flag-text {
    position: relative;
    margin: 3.5em;
}

/* the pole */
.pole {
    width: 10px;
    height: 223px;
    top: -41px;
    left: -2px;
    background-color: #3c2f3d;
    position: absolute;
}

/* the circle */
.pole-top {
    width: 20px;
    height: 20px;
    top: -45px;
    left: -7px;
    background-color: #3c2f3d;
    border-radius: 100%;
    position: absolute;
}

.flag-segment {
    padding: 2em 0.8em 1em 0;
    background-color: #bf0c00;
    margin-left: 2px;
    position: absolute;
    bottom: -62px;
}

.cloth {
    position: relative;
}