
<svg>
    <foreignObject class="flag-container"
        x="75%" y="16.5%">
        <xhtml:div class="flag-text">
            <h1 #cloth [@slideinfinite]="initiateslide">
                <span style="left: 0px"></span>
                <span style="left: 20px"></span>
                <span style="left: 40px"></span>
                <span style="left: 60px"></span>
                <span style="left: 80px"></span>
                <span style="left: 100px"></span>
                <span style="left: 120px"></span>
                <span style="left: 140px"></span>
                <span style="left: 160px"></span>
                <span style="left: 180px"></span>
                <span style="left: 200px"></span>
                <span style="left: 220px"></span>
                <span style="left: 240px"></span>
                <span style="left: 260px"></span>
                <span style="left: 280px"></span>
                <span style="left: 300px"></span>
                <span style="left: 320px"></span>
                <span style="left: 340px"></span>
            </h1>
        </div>
    </foreignObject>
</svg>
