
<svg>
    <foreignObject class="flag-container"
        x="75%" y="16.5%">
        <xhtml:div class="flag-text">
            <h1 class="txtwav slow" #cloth>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </h1>
        </div>
    </foreignObject>
</svg>
