
<svg>
    <foreignObject class="flag-component">
        <xhtml:div class="flag-text">
            <h1 class="txtwav slow"></h1>
        </div>
            
        <script>
            !function () { 
                function n(n, e) { 
                    for (var t = 0; t < 20; t++) { 
                        var a = document.createElement("span"); 
                        n.appendChild(a) 
                    } 
                } 
                
                for (var e = document.getElementsByClassName("txtwav"), t = 0, a = e.length; t < a; t++) { 
                    var r = e[t], o = r.textContent.trim(); 
                    r.innerHTML = "", n(r, o) 
                } 
            }();
        </script>
    </foreignObject>
</svg>
