<svg:g>
    <g class="scroll-box">
        <g class="scroll-item">
            <image src="assets/dragontrack.png" 
            class="small-image" />
            
            A peer to peer music listening website.
            Written in Angular, Typescript, Aspet Core, F Sharp.

            <a href="https://github.com/doublecouponday/dragontrack">source code</a>
        </g>

        <g class="scroll-item">
            <image src="assets/luggate.png" 
                class="small-image" />
            
            A candidate for the luggate hotel's website contract.                  
            Written in plain html.
        </g>

        <g class="scroll-item">

            A text to speed algorithm that can be used in game. This is where I cut my teeth on big architecture projects.
            Written in C#.
        </g>
    </g>
</svg:g>