
.iframe-player {
    height: 100%; 
    width: 100%;
}

.iframe-container {
    width: 400px;
    height: 100px;
    transform: scale(2) translate(10px);
    max-width: 100%;
}

.music-button {
    transform: translate(-10px, -80px);
}