<svg>
    <g class="content-page" #content>
        <g class="scroll-item">
            <foreignObject class="iframe-container">
                <xhtml:iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/732541240&color=%23a3a3a3&auto_play=false&hide_related=true&show_comments=false&show_user=true&show_reposts=false&show_teaser=false"></xhtml:iframe>
            </foreignObject>                
        </g>

        <g class="scroll-item">
            <foreignObject class="iframe-container" y="130px">
                <xhtml:iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/689387281&color=%23a3a3a3&auto_play=false&hide_related=true&show_comments=false&show_user=true&show_reposts=false&show_teaser=false"></xhtml:iframe>
            </foreignObject>
        </g>
    </g>

    <g app-scrollview class="scroll-view" (scrollbuttonmoved)="onscroll($event)"></g>
</svg>