
.iframe-player {
    height: 100%; 
    width: 100%;
}

.iframe-container {
    width: 366px;
    height: 120px;
    transform: scale(2) translate(10px);
    max-width: 100%;
}

.music-button {
    transform: translate(-45px, -80px);
}