.loading-message {
    font-size: 20px;
    font-family: monospace;
    position: absolute;
    bottom: 20%;
    text-align: center;
    left: var(--message-left);
}

.bouncing-ball {
    width: 100px;
    height: 100px;
}

.ball-container {
    width: 100%;
    height: 100%;
    background-color: white;
}

.button {
    position: absolute;
    left: var(--message-left);
    bottom: 22%;
}

.button-container {
    width: 100%;
}