:root {
    
}

.loading-message {
    font-size: 20px;
    font-family: monospace;
    position: absolute;
    bottom: 20%;
    left: var(--message-left);
}

.bouncing-ball {
    width: 300px;
    left: 37%;
    position: absolute;
    top: 40%;
}

.ball-container {
    width: 100%;
    height: 100%;
    background-color: white;
    position: relative;
}

.button {
    position: absolute;
    left: var(--message-left);
    bottom: 22%;
}

.button-container {
    width: 100%;
    position: relative;
}

@media screen and (max-width: 1000px) {
    .bouncing-ball {
        width: 35%;
        left: 32%;
    }    

    .loading-message {
        left: var(--onethousand-left);
    }

    .button-container {
        left: var(--onethousand-left);
    }
}

@media screen and (max-width: 650px) {
    .loading-message {
        left: var(--sevensixeight-left);
    }

    .button-container {
        left: var(--sevensixeight-left);
    }
}