<svg:g class="content-page" style="width: 1000px; clip-path: none;">
    <image class="small-image" style="height: auto;" x="250px" y="300px"
        href="assets/stone-portrait.png"></image>

    <text class="content-text">
        <tspan x="0" dy="1.2em">Welcome to my portfolio! I'm a web developer</tspan>
        <tspan x="0" dy="1.2em">specializing in the dotnet stack. Here you</tspan>
        <tspan x="0" dy="1.2em">can find all the cool things i've made.</tspan>
        <tspan x="0" dy="1.2em"> &nbsp; </tspan>
        <tspan x="0" dy="1.2em">Push a block down into the sand to go to a </tspan>
        <tspan x="0" dy="1.2em">new page.</tspan>
    </text>
</svg:g>