<svg>
    <foreignObject class="content-page portfolio-page-content">
        <xhtml:div>
            <p class="content-text">
                Welcome to my portfolio! I'm a web developer
                specializing in the dotnet stack. Here you
                can find all the cool things i've made. 
            </p>
            <p class="content-text">
                The source code for this site is at 
                <a href="https://github.com/doublecouponday/portfolio" class="link"
                    target="_blank"
                    rel="noreferrer noopener">
                    Link
                </a>
                .
            </p>

            <p class="content-text">
                Push a block down into the sand to go to a new page.
            </p>

            <img src="assets/stone-portrait.png" class="small-image portrait-image" />
        </xhtml:div>
    </foreignObject>
</svg>