.content-page {
    transform: translate(1330px, 700px);
    width: 904px;
    clip-path: url('#overflow-container');
}

.small-image {
    width:300px;   
    user-select: all;
}

.portrait-image {     
    x: 250px;
    y: 300px;
}

.content-text {
    font-family: 'zcool';
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
    fill: #888881;
    stroke: none;    
    display: block;
    user-select: none;
}

.scroll-item {
}

.scroll-view {
    transform-origin: 0px 0px;
    transform: translate(28px, 0px);
}

.link {
    text-decoration: underline;
    font-size: 60px;
    fill: #888881;
}
